/* Formato al fondo de la aplicación */

html, body {
  background-color: rgb(245, 238, 238);
  max-width: 1500px;
  padding: 5px 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

